/* @import url(//fonts.googleapis.com/css?family=Inter); */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./fonts/Inter/Inter-Regular.woff2?v=3.19") format("woff2"),
    url("./fonts/Inter/Inter-Regular.woff?v=3.19") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: bold;
  font-weight: 700;
  font-display: swap;
  src: url("./fonts/Inter/Inter-Bold.woff2?v=3.19") format("woff2"),
    url("./fonts/Inter/Inter-Bold.woff?v=3.19") format("woff");
}
* {
  font-family: "Inter";
  font-size: 14px;
  line-height: 17px;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  font-size: 14px;
  line-height: 24px;
}
.background {
  background-color: white;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.header {
  width: auto;
  height: 40px;
  background-color: #b4d1e1;
  padding-left: 3rem;
  padding-right: 3rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.header p {
  padding-left: 25px;
  font-weight: bold;
}
.message-icon{
	position: fixed; 
	right: 25px; 
	top: 50%;
}
.header-icon{
	width: 18.19px;
	height: 28.57px;
}

.push {
  margin-left: auto;
}

.maincontent{
	height: auto;
    flex-wrap: wrap;
	justify-content: center;
	padding-top:50px;
	margin: auto;
}

.searchbar{
	display: flex;
    flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
.searchbar > div{
	position: relative;
}

.search-icon{
	position: absolute; 
	top: 4px; 
	right: 8px; 
	width: 24px; 
	height: 24px;
}


.tutorpilihan {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.tutorpilihan > div{
	width: 200px; 
	height:270px; 
	position: relative; 
	margin: 0; 
	padding: 0%;
}

.primary {
  width: 160px;
  height: 40px;
  border-radius: 37px;
  background-color: #fd6a02;
  color: white;
  border: none;
  margin-bottom: 12px;
}

.primary2 {
  width: 160px;
  height: 40px;
  border-radius: 37px;
  background-color: #fd6a02;
  color: white;
  border: none;
  margin-bottom: 12px;
  margin-right: 20px;
}

.secondary {
  width: 160px;
  height: 24px;
  border-radius: 37px;
  background-color: white;
  color: #fd6a02;
  border: 1px solid #fd6a02;
}

.footer {
  width: 100%;
  padding-bottom: 0.1rem;
  background-color: black;
  color: white;
}

.footermenu {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: space-between;
  width: 100%px;
  height: 140px;
  padding: 1.5rem 3rem 1.5rem 3rem;
}

input {
  border: 1px solid #000000;
  border-radius: 7px;
}

.input-location {
  width: 168px;
  height: 32px;
  margin-left: 15px;
  margin-right: 5px;
  padding-left: 20px;
  background-image: url(./assets/svg/icon_location.svg);
  background-position: left;
  background-repeat: no-repeat;
  background-size: 14px 21px;
  background-position-x: 2px;
  background-position-y: 4px;
}
.input-subject {
  width: 472px;
  height: 32px;
  padding-left: 20px;
  /* background-image: url(./assets/svg/icon_search.svg);
  background-position: right;
  background-repeat: no-repeat; */
}
.caption{
	font-family: Inter;
	font-style: normal;
	font-weight: 600;
	font-size: 22px;
	line-height: 27px;
	text-align: center;
}

