/* calendar */
.calendar__title {
  line-height: 2rem;
}

.month-year {
  font-size: 20px;
  color: #fd6a02;
}

.calendar-container {
  width: 1032px;
  height: 700px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 40px repeat(5, 1fr);
}

.day__text {
  padding-top: 5px;
  text-align: center;
  font-size: 20px;
}

.date__text {
  padding-top: 2px;
  padding-left: 5px;
  font-size: 20px;
  text-align: left;
}

.content__text {
  padding: 0px auto;
  font-size: 20px;
  text-align: justify;
}

.calendar__date {
  border: 1px solid grey;
}

.calendar__date:hover {
  background-color: lightgray;
}

.button-prev {
  background-image: url("../../assets/png/icon_left.png");
  background-repeat: no-repeat;
  background-color: transparent;
  width: 20px;
  border: none;
}

.button-next {
  background-image: url("../../assets/png/icon_right.png");
  background-color: transparent;
  background-repeat: no-repeat;
  width: 20px;
  border: none;
}

.button-next,
.button-prev {
  cursor: pointer;
}

.add-arrow-down {
  appearance: none;
  background-image: url("../assets/png/arrow_orange.png");
  background-repeat: no-repeat;
  background-position: 98% 50%;
}

.add-arrow-right {
  appearance: none;
  background-image: url("../assets/png/icon_right.png");
  background-repeat: no-repeat;
  background-position: 98% 50%;
}

/* tutor */
.booked {
  background-color: #3c8a94;
}
