body {
  font-size: 14px;
  line-height: 24px;
}

.pushleft {
  margin-right: auto;
}

.background {
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.maincontent {
  width: 1024px;
  height: auto;
  padding: 80px 0px 80px 0px;
  row-gap: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.primary1 {
  width: 160px;
  height: 50px;
  border-radius: 37px;
  background-color: #fd6a02;
  color: black;
  font-weight: bold;
  border: none;
}

.secondary {
  width: 160px;
  height: 24px;
  border-radius: 37px;
  background-color: white;
  color: black;
  border: 1px solid #fd6a02;
}

.caption {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
  text-align: center;
}

.mySlides {
  display: none;
}

.slideshow-container {
  position: relative;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.dotgroup {
  position: absolute;
  bottom: 0;
  padding: 16px;
  width: 100%;
  text-align: center;
}

.active,
.dot:hover {
  background-color: white;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
