select,
input,
textarea {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  font-size: 14px;
  line-height: 24px;
}

/* sign-up tutee form */
.title {
  width: 1280px;
  display: flex;
  justify-content: start;
}

.title > h1 {
  font-size: 22px;
}

.flex-container-row {
  display: flex;
  flex-direction: row;
}

.flex-container-column {
  display: flex;
  flex-direction: column;
}

.flex-start {
  justify-content: start;
}

.flex-end {
  justify-content: end;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.flex-between {
  justify-content: space-between;
}

.roadmap {
  margin-right: 200px;
}

.circle {
  border-radius: 50%;
  background: url("../assets/png/contoh_tutor.png");
  background-position: top;
}

.form {
  width: 600px;
  display: flex;
  flex-direction: column;
}

.form > input,
.form > select,
.name > input,
.bank > input,
.bank > select,
.major > input,
.gpa > input,
.mastered-course > input,
.phone-number > input,
.address-text-area,
.reason-text-area,
input,
select,
textarea {
  padding-left: 7px;
  height: 40px;
  border-radius: 7px;
  border: 1px solid grey;
  font-size: 18px;
  line-height: 24px;
}

.form > input:focus,
.form > select:focus,
.form > textarea:focus,
.name > input:focus,
.phone-number > input:focus,
input:focus {
  outline-color: gray;
}

.address-text-area {
  padding-top: 7px;
  height: 105px;
  resize: none;
}

.country-code {
  padding-left: 10px;
}

/* font size */
.font-size-18 {
  font-size: 18px;
}

.font-size-20 {
  font-size: 20px;
}
/* margin */
.margin-top-82 {
  margin-top: 82px;
}

.margin-bottom-82 {
  margin-bottom: 82px;
}

.margin-top-30 {
  margin-top: 30px;
}

.margin-bottom-30 {
  margin-bottom: 30px;
}

.margin-left-150 {
  margin-left: 150px;
}

/* weight */
.bold {
  font-weight: bold;
}

/* padding */
.padding-top-30 {
  padding-top: 30px;
}
.padding-bottom-30 {
  padding-bottom: 30px;
}
/* width */
.width-20 {
  width: 20px;
}

.width-50 {
  width: 50px;
}

.width-72 {
  width: 72px;
}

.width-175 {
  width: 175px;
}

.width-192 {
  width: 192px;
}

.width-248 {
  width: 244px;
}

.width-320 {
  width: 320px;
}

.width-424 {
  width: 424px;
}

.width-440 {
  width: 440px;
}

.width-465 {
  width: 465px;
}

.width-504 {
  width: 504px;
}

.width-600 {
  width: 600px;
}

.width-1280 {
  width: 1280px;
}

.width-full {
  width: 100%;
}

.width-15-percent {
  width: 15%;
}

.width-30-percent {
  width: 30%;
}

.width-40-percent {
  width: 40%;
}

.width-50-percent {
  width: 50%;
}

.width-95-percent {
  width: 95%;
}

/* height */
.height-192 {
  height: 192px;
}
.height-300 {
  height: 300px;
}

/* max-width */
.max-width-600 {
  max-width: 600px;
}

.max-width-1280 {
  max-width: 1280px;
}

/* min-width */
.min-width-550 {
  max-width: 550px;
}

/* column gap */
.column-gap-40 {
  column-gap: 40px;
}

.column-gap-20 {
  column-gap: 20px;
}

/* row gap */
.row-gap-40 {
  row-gap: 40px;
}

.row-gap-20 {
  row-gap: 20px;
}

/* text-align */
.text-align-left {
  text-align: left;
}

.text-align-right {
  text-align: right;
}

.buttons {
  margin-top: 80px;
  gap: 40px;
}

.button {
  width: 160px;
  height: 40px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 37px;
  transform: scale(1);
  transition: 0.3s;
}

.button:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

.continue,
.signup {
  background: #fd6a02;
  color: white;
  border-color: transparent;
}

.abort {
  background: white;
  border-color: #fd6a02;
}

.card__text {
  max-width: 640px;
  line-height: 40px;
}

.commitment {
  background: white;
  border: 1px solid black;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 7px;
  padding-left: 10px;
}
.commitment > div > ul {
  display: flex;
  flex-direction: column;
  padding-inline-start: 30px;
  row-gap: 20px;
}

.commitment > div > ul > li > input {
  border: none;
  border-bottom: solid 1px black;
  outline: none;
  height: 30px;
}

.commitment > div {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

/* profile page */
/* profile image */
.profile-image-container {
  width: 1032px;
  height: 300px;
  display: grid;
  grid-template-columns: 7fr 1fr;
  grid-template-rows: 50px 50px 200px;
}

.image-container {
  grid-row-start: 1;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 2;
}

.review-container {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-start: 2;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  row-gap: 5px;
}

.review-container > object {
  width: 160px;
}

.image-container > div {
  position: relative;
  left: 47%;
  top: 10%;
}
