.circle {
  border-radius: 50%;
  background-position: center;
  background-size: 192px, 192px;
  background-repeat: no-repeat;
}

/* profile page */
/* profile image */
.profile-image-container {
  width: 1280px;
  height: 300px;
  display: grid;
  grid-template-columns: 7fr 1fr;
  grid-template-rows: 50px 50px 150px 50px;
}

.image-container {
  grid-row-start: 1;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 2;
}

.image-edit-button {
  grid-row-start: 4;
  grid-row-end: 5;
  grid-column-start: 1;
  grid-column-end: 2;
}

.review-container {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-start: 2;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  row-gap: 5px;
}

.review-container > object {
  width: 160px;
}

.image-container > div {
  position: relative;
  left: 47%;
  top: 10%;
}

.image-edit-button > input {
  position: relative;
  left: 49%;
  top: 10%;
}

.tutee-desc-container {
  display: grid;
  grid-template-columns: repeat(2, 496px);
  column-gap: 40px;
}

.tutee-desc-col-1 {
  grid-column-start: 1;
  grid-column-end: 2;
}

.tutee-desc-col-2 {
  grid-column-start: 2;
  grid-column-end: 3;
}

.flex-container-row {
  display: flex;
  flex-direction: row;
}

.buttons {
  margin-top: 80px;
  gap: 40px;
}

.continue {
  background: #fd6a02;
  color: white;
  border-color: transparent;
}

.abort {
  background: white;
  border-color: #fd6a02;
}
