.background {
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
}

.maincontent {
  width: 1024px;
  height: auto;
  padding: 40px 0px 40px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 30px;
}

.filter {
  align-self: center;
}

.search-subject, .search-result {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  /* justify-content: space-between; */
  column-gap: 152px;
  row-gap: 80px;
  width: 1024px;
}
.search-result > div {
  display: flex;
  flex-direction: column;
  align-content: center;
  
  background: #e5f3fb;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  width: 240px;
  height: 176px;
  padding: 15px;
}
.search-result > div > div > p, b {
  margin: 0 auto 0 5px;
  font-size: 14px;
}

.search-subject > div {
	background-color: #E5F3FB;
	border-radius: 10px;
	padding: 20px 15px 20px 15px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	margin: 10px;
	text-align: left;
	width: 240px;
	height: 105px;
}

.search-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: right
}
.search-nav > input {
  padding: 0px 10px 0px 10px;
  color: #fd6a02;
  border: none;
  background-color: white;
}

.navimage {
	background-repeat: no-repeat;
	background-position: center;
}

.search-filter {
  background: #ffffff;
  border: 1px solid #000000;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 7px;
  padding-left: 5px;
  width: 199px;
  height: 40px;
  outline: none;
  position: relative;
  background: url("../assets/png/arrow_orange.png");
  background-position: absolute;
  background-repeat: no-repeat;
  background-size: 19.05px 16.5px;
  background-position-x: 174px;
  background-position-y: 13px;
}
.search-filter > option {
  border-radius: 5px;
}

select {
  appearance: none;
}

.avatar {
  border-radius: 50%;
}

.star-grey {
  position: absolute;
  bottom: 0;
  left: 0;
}

.star-yellow {
  position: absolute;
  bottom: 0;
  left: 0;
}

.background {
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
}

.maincontent {
  width: 1024px;
  height: auto;
  padding: 40px 0px 40px 0px;
  display: flex;
  flex-direction: column;
}

.searchtitle {
	display: flex;
	flex-direction: row;
	align-items: center;
	column-gap: 20px;
}

.specialpicks {
	display: flex;
	flex-direction: column;
	column-gap: 20;
	background-color: #e5f3fb;
	padding: 20px 50px 20px 50px;
	border-radius: 7px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.gps-icon {
  position: absolute;
  top: 4px;
  right: 8px;
  width: 32px;
  height: 32px;
}

.input-location {
  width: 260px;
  height: 40px;
  margin-left: 15px;
  margin-right: 5px;
  padding-left: 25px;
  background-image: url(../assets/svg/icon_location.svg);
  background-repeat: no-repeat;
  background-size: 14px 21px;
  background-position-x: 5px;
  background-position-y: 8px;
}
