.plus {
  width: 42px;
  border: none;
  background-color: transparent;
  background-image: url(../assets/svg/signup_tutor_icon_plus.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.minus {
  width: 42px;
  border: none;
  background-color: transparent;
  background-image: url(../assets/svg/signup_tutor_icon_minus.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
