@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../../fonts/Inter/Inter-Regular.woff2?v=3.19") format("woff2"),
    url("../../../fonts/Inter/Inter-Regular.woff?v=3.19") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: bold;
  font-weight: 700;
  font-display: swap;
  src: url("../../../fonts/Inter/Inter-Bold.woff2?v=3.19") format("woff2"),
    url("../../../fonts/Inter/Inter-Bold.woff?v=3.19") format("woff");
}
* {
  font-family: "Inter";
}
body {
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  font-size: 14px;
  line-height: 24px;
}
/* header */
.header {
  width: 100%;
  height: 40px;
  background-color: #b4d1e1;
  display: flex;
  justify-content: center;
}

.nav {
  width: 1280px;
  height: 40px;
}

.nav > object {
  margin-left: 3rem;
  height: 40px;
}

/* sign-up tutee form */
.title {
  width: 1280px;
  display: flex;
  justify-content: start;
}

.title > h1 {
  font-size: 22px;
  line-height: 24px;
  margin-left: 80px;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.flex-container-row {
  max-width: 1280px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.flex-container-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-start {
  display: flex;
  justify-content: start;
}

.flex-end {
  display: flex;
  justify-content: end;
}

.roadmap {
  margin-right: 200px;
}

.form {
  width: 520px;
  display: flex;
  flex-direction: column;
}

.form > input,
.form > select,
.name > input,
.phone-number > input,
.address-text-area {
  padding-left: 7px;
  height: 40px;
  border-radius: 7px;
  border: 1px solid grey;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 24px;
}

.form > input:focus,
.form > select:focus,
.form > textarea:focus,
.name > input:focus,
.phone-number > input:focus {
  outline-color: gray;
}

.form > select {
  width: 516px;
}

.address-text-area {
  padding-top: 7px;
  height: 105px;
  resize: none;
}

.country-code {
  padding-left: 10px;
}

/* font size */
.font-size-18 {
  font-size: 18px;
}

.font-size-20 {
  font-size: 20px;
}
/* margin */
.margin-top-82 {
  margin-top: 82px;
}

.margin-bottom-82 {
  margin-bottom: 82px;
}

.margin-left-150 {
  padding-left: 5%;
}
/* width */
.width-50 {
  width: 50px;
}

.width-248 {
  width: 244px;
}

.width-440 {
  width: 440px;
}

.width-504 {
  width: 504px;
}

.width-600 {
  width: 600px;
}

.width-1280 {
  width: 1280px;
}

.width-full {
  width: 100%;
}

.width-95-percent {
  width: 95%;
}
/* column gap */
.column-gap-40 {
  column-gap: 40px;
}

/* text-align */
.text-align-left {
  text-align: left;
}

.text-align-right {
  text-align: right;
}

.buttons {
  display: flex;
  justify-content: end;
  margin-top: 80px;
  gap: 40px;
}

.button {
  width: 160px;
  height: 40px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 37px;
  transform: scale(1);
  transition: 0.3s;
}

.button:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

.continue {
  background: #fd6a02;
  color: white;
  border-color: transparent;
}

.abort {
  background: white;
  border-color: #fd6a02;
}

.card__text {
  max-width: 640px;
  line-height: 40px;
}

.commitment {
  background: white;
  border: 1px solid black;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 7px;
  padding-left: 10px;
}
.commitment > div > ul {
  display: flex;
  flex-direction: column;
  padding-inline-start: 30px;
  row-gap: 20px;
}

.commitment > div > ul > li > input {
  border: none;
  border-bottom: solid 1px black;
  outline: none;
  height: 30px;
}

.commitment > div {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

/* footer */
.footer {
  width: 100%;
  padding-bottom: 0.1rem;
  background-color: black;
  color: white;
}

.footer-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1280px;
  height: 140px;
  padding: 1.5rem 3rem 1.5rem 3rem;
}

.footer-menu > ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  row-gap: 20px;
  padding-inline-start: 0px;
}

.footer-menu__right {
  text-align: right;
}

.line {
  width: 90%;
}
