/* @import url(//fonts.googleapis.com/css?family=Inter); */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./fonts/Inter/Inter-Regular.woff2?v=3.19") format("woff2"),
    url("./fonts/Inter/Inter-Regular.woff?v=3.19") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: bold;
  font-weight: 700;
  font-display: swap;
  src: url("./fonts/Inter/Inter-Bold.woff2?v=3.19") format("woff2"),
    url("./fonts/Inter/Inter-Bold.woff?v=3.19") format("woff");
}

* {
  font-family: "Inter";
  font-size: 14px;
  line-height: 17px;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

/*////////////// HEADER STYLE //////////////*/

.push {
  margin-left: auto;
}

.header {
  width: 100%;
  height: 40px;
  background-color: #b4d1e1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headercontent {
  width: 1280px;
  padding-left: 3rem;
  padding-right: 3rem;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headercontent a {
  padding-left: 25px;
  font-weight: bold;
  color: black;
}

.headercontent a:link,
a:visited {
  text-decoration: none;
  cursor: pointer;
}

.headercontent a:link:active,
a:visited:active {
  color: white;
}

.header-icon {
  width: 18.19px;
  height: 28.57px;
}

/*///////////// FOOTER STYLE ///////////////*/

.footer {
  width: 100%;
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding-bottom: 0.1rem;
  background-color: black;
  color: white;
}

.footermenu {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: space-between;
  width: 1280px;
  height: 190px;
  padding: 1.5rem 3rem 1.5rem 3rem;
}

.footermenu b {
  display: block;
}

.footermenu a {
  color: white;
  text-decoration: none;
  display: block;
}

.footermenu a:link, a:visited {
  cursor: pointer;
}

.footermenu a:link:active, a:visited:active {
  text-decoration: underline;
}

/*///////////// SEARCHBAR STYLE ///////////////*/

.searchbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.searchbar > div {
  position: relative;
}

.search-icon {
  position: absolute;
  top: 4px;
  right: 8px;
  width: 24px;
  height: 24px;
}

input {
  border: 1px solid #000000;
  border-radius: 7px;
}

.input-location {
  width: 168px;
  height: 32px;
  margin-left: 15px;
  margin-right: 5px;
  padding-left: 20px;
  background-image: url(./assets/svg/icon_location.svg);
  background-position: left;
  background-repeat: no-repeat;
  background-size: 14px 21px;
  background-position-x: 2px;
  background-position-y: 4px;
}
.input-subject {
  width: 472px;
  height: 32px;
  padding-left: 20px;
  background-image: url(./assets/svg/icon_search.svg);
  background-position: right;
  background-repeat: no-repeat;
}

/*///////////// TUTORPILIHAN ///////////////*/

.tutorpilihan {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.tutorpilihan > div {
  width: 200px;
  height: 270px;
  position: relative;
  margin: 0;
  padding: 0%;
}

.tutorpic {
  position: absolute;
  bottom: 0px;
  left: 0px;
}

.tutorname {
  position: absolute;
  bottom: 25px;
  right: 16px;
  color: black;
  font-weight: 600;
}

.tutormajor {
  position: absolute;
  bottom: 8px;
  right: 16px;
  color: black;
}

.starratinggrey {
  position: absolute;
  bottom: 35px;
  left: 110px;
}

.starratingyellow {
  position: absolute;
  bottom: 35px;
  left: 110px;
  width: 81px;
  overflow: hidden;
}
